<div>
  <p>Hi! <%= request.name%></p>
  <br />
  <br />
  <p>To reset your password click link below</p>
  <a href="http://localhost:8000/users/passwordReset/<%= request.id%>"
    >click here!</a
  >
</div>
